/** {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}*/

body {
  font-family: "Roboto",sans-serif;
}
/*--------navbar-------------------*/
.navbar {
  top:0;
  margin:0;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  -webkit-transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
  z-index:10;
}

.navbar li {
  font-family: "Roboto",sans-serif;
  margin-right: 60px;
}
.navbar li:hover {
  opacity: 0.6;
}

.navbar a {
  display: inline-block;
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 20px 0;
  margin-left: -40px;
  border: 2px dashed rgba(0,0,0,0);
}

#navbar li.active a {
  border: 2px dashed white;
}

.navbar-collapse {
  background-color: #63E1D3;
  padding:0;
}

.maincontainer {
  min-width: 400px;
  height: 300vh;
}
/*--------flex layout-------------------*/
.flexmain {
  display: flex;
  height: 200vh;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 50px;
}

.flex-big {
  flex-grow: 1;
  flex-basis: 0;

}

.flex-small {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
}
/*testing*/
/*.flex-small:nth-of-type(2) {
  background-color: #123456;
}
.flex-small:nth-of-type(3) {
  background-color: #654321;
}
.flex-small:nth-of-type(4) {
  background-color: #435261;
}*/
/*end testing*/

#about {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.aboutcontent {
  max-width: 60%;
  margin-left: 5vw;
  margin-top: -20vh;
}

.playbutton {
  border-radius: 5px;
  display: block;
  margin-top: 5vh;
  margin-left: 5vw;
  width: 250px;
  background-color: #227772;
  height: 35px;
  text-align: center;
  padding-top: 14px;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  border: none;
}

#drosohead {
  font-family: "Slabo 27px",sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: lighter;
}

.flexmain .column {
  flex-direction: column;
}

#play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 20%;
}

.readytext {
  flex: .5 0 0;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 25px;
}

.dragform {
  flex: 4 0 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*Dynamic styling*/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  height: 80%;
  width: 80%;
}

.box__input {
  width: 100%;
  text-align: center;
}

.box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box__file + strong {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: white;
    display: inline-block;
}

strong:hover {
  color: #63E1D3;
}

.box__file:focus + label,
.box__file + label:hover {
}

.box__button {
  display: none;
  margin: 20px auto;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
  padding-top: 20px;
  border: none;
}

.box.is-error .box__error{
  display: block;
}

.box.is-success .box__success {
  display: block;
  padding-top: 20px;
  border: none;
  text-align: center;
}

.box.is-success img {
  flex: 1 0 0;
  max-width: 80%;
  max-height: 80%;
}

#replay {
  border-radius: 5px;
  display: none;
  width: 250px;
  background-color: #227772;
  height: 35px;
  text-align: center;
  padding-top: 14px;
  font-weight: bold;
  color: white;
  margin-left: 25%;
  margin-top: -5vh;
}

/*end dynamic styling*/

.flexbio {
  display: flex;
  flex-direction: row;
  flex-grow: 0 0 0;
  height: 80vh;
}

.bio-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: center;
  background-color: #E0FFDD;
  height:100%;
  padding: 10vh 5vh;
  text-align: center;
}

.bio-image {
  border-radius: 50%;
  min-width: 18vw;
  min-height: 18vw;
  max-height: 300px;
  max-width: 300px;
  background-size: cover;
  background-position: center;

}

.bio-image.brittwalker {
  background-image: url("../img/brittwalker.jpg");
  border:5px solid #227772;
}

.bio-image.row2k {
  background-image: url("../img/row2k.jpg");
  border:5px solid #227772;
}

.bio-content {
  display:inline-block;
  /*background-color: #63E1D3;*/
  border-radius: 5px;
  margin-top:5vh;
  padding:2vh;
  height: auto;
}

.bio-icons {
  display:inline-block;
  background-color: #227772;
  margin-top:5vh;
  height: 5vh;
  width:80%;
}

.footer {
  display: flex;
  flex: 1 0 0;
  height: 10vh;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #63E1D3;
}

/*.footer {
  background-color: #63E1D3;
  text-align: center;
  display: block;
  height: 2vh;
  padding: 1.5vh 0;
  position:absolute;
  top:290vh;
  width: 100vw;
  z-index: 9;
}*/



/*---------fly animation---------------*/
#drosoWrapper {
  height: 250px;
  width: 250px;
  position: fixed;
  top: 35%;
  left: 17%;
}
#droso {
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.droso-static {
  background-image: url("../img/fruitfly/droso-static.png");
}
.droso-flying {
  background-image: url("../img/fruitfly/droso-fly.png");
}
#drosoEyesClosed {
  background-image: url("../img/fruitfly/droso-eyes-close.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 57.5px;
  width: 84.375px;

  position: absolute;
  top: 46px;
  left: 45px;

  z-index: 8;
  opacity: 0;
}
